<%#= raise @bill.inspect %> 

<%= form_for(@bill, html: {class: "form-horizontal"}) do |f| %>
  <% if @bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill.errors.count, "error") %> prohibited this bill from being saved:</h2>

      <ul>
      <% @bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%#= f.label :amount, class: "col-sm-3 control-label" %><br>
    <div class="col-sm-3">
      <%= f.text_field :amount, class: "form-control",id: "amount" ,required: true,placeholder: "Amount"%>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :tax, class: "col-sm-3 control-label" %><br>
    <div class="col-sm-3">
      <%= f.text_field :tax, class: "form-control",id: "tax",required: true,placeholder: "Tax" %>
    </div>
  </div>
  <div class="form-group">
    <%#= f.label :total , class: "col-sm-3 control-label" %><br>
    <div class="col-sm-3">
      <%= f.text_field :total, class: "form-control", id: "total",required: true,placeholder: "Total" %>
    </div>
  </div>
    <div class="form-group">
    <%#= f.label :description , class: "col-sm-3 control-label" %><br>
    <div class="col-sm-3">
      <%= f.text_area :description, class: "form-control", required: true ,placeholder: "Description"%>
    </div>
  </div>

  <% if @bill.issue_id.nil? %>
  <%= f.hidden_field :issue_id, :value => params[:issue] %>
  <% else %>
  <%= f.hidden_field :issue_id, :value => @bill.issue_id %>
  <% end %>
  <div class="form-group">
    <div class="col-sm-3">
    <%= f.submit "Generate Bill", :class => "btn btn-primary" %>
  </div>
<% end %>
<script type="text/javascript">

  
$( document ).ready(function() {
    console.log( "ready!" );
    var amount = "0";
    var tax = "0";
    var total = "0";
  $( "#total" ).on( "click", function() { 
    amount = parseInt($("#amount").val());
    tax = parseInt($("#tax").val());
    var percent = amount * (tax/100)
    total = amount + percent
    total = parseInt(total);

    $("#total").val(total.toString())
  });
});
</script>